*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    border:none;
    outline:none;
    scroll-behavior:smooth;
    font-family:'poppins',sans-serif;
}


:root {
    --bg--color:#b9b7b7;
    --bg--color:#b;
    --second--bg-color:#070707;
    --text-color:#10131f;
    --main-color:rgb(81, 83, 194);
}

html {
    font: size 42.5%;
    overflow-x:hidden;
}

body {
    background: var(--bg--color);
    color:var(--bg--color);
}

section{
    min-height: 100vh;
    padding: 5rem 9% 2rem;
}

.header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg--color);
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 100;
    font-size: 32px;
    color: black;
    border: 1px solid #000000;
}

.btn {
    position: absolute;
    width: 20px;
    top: 100px;
    color: var(--second--bg-color);
}

.jpg{
    font-size: 4.5rem;
    color: #000000;
    font-weight: 800;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 2rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu.icon {
    font-size: 3.6rem;
    color:var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    position: absolute;
    width: 320px;
    height:80px;
    left: 266px;
    top: 1006px;
    
    background:var(--bg--color);
    border-radius: 8px;
}
.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;

}

span{
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
     line-height: 1.3 ;
}

.home-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;

}

.social-media a {
    position: absolute;
    display:inline-block;
    justify-content:center;
    align-items: center;
    width:45px;
    height:45px;
    left: 200px;
    top: 447px;
    background: transparent;
    border:.2rem solid var(--text-color) ;
    border-radius: 50%;
    font-size: 2rem;
    color:rgb(10, 10, 10);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease; 
}

.social-media a :hover {
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    position: absolute;
    width: 320px;
    height: 80px;
    left: 266px;
    top: 1006px;
    display: inline-block;
    padding: 1rem 2.8rem;
    background:var(--second--bg-color);
    border-radius: 8px;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color:#e24f4f;
    letter-spacing: .1rem;
    font-weight:600 ;
    margin-top: 2rem;
    cursor: pointer;
    color: #e24f4f;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.about {
    display: grid;
    justify-content:center;
    align-items: center;
    gap: 2rem;
    background: var(--second--bg-color);
}

.about-img img {
    position: absolute;
    width: 694px;
    height: 458px;
    left: 1329px;
    top: 1557;
    background: url(aboutme.jpeg);
    border-radius:20px;
}

.heading {
    text-align:center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align:center;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p {
    display: grid;
    font-size: 1.6rem;
    margin: 2rem 0 3rem; 
}

.about-content h4{
    font-size: 2.6rem;
}

.about-content p{
    display: flex;
    font-size: 1.6rem;
    margin: 2rem 0 3rem ;
}

.Services h2{
    margin-bottom: 5rem;
}

.service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.service-container .service-box {
    flex: 1 1 30rem;
    background: var(--second--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg--color);
    transition: .5s ease;
}

.service-container .service-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}
.service-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.service-box h3 {
    font-size: 2.6rem;
}

.service-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.Portfolio {
padding-bottom: 10rem;
}

.Portfolio h2 {
    margin-bottom: 4rem;
}

.contact h2{
   margin-bottom:3rem; 
}

.Portfolio .portfolio-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.contact form {
    max-width: 30rem;
    margin: 1rem auto;
     text-align: center;
     margin-bottom: 3rem;
     color: #e24f4f;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: 1rem;
}

.contact form .input-box input,
.contact form textarea {
    width: 200%;
    padding: 2rem;
    font-size: 1.6rem;
    color:blue;
    background: var(--second--bg-color);
    border-radius: 20rem;
    margin: .7rem 0;
}

.contact form .input-box input{
    width: 60px; 
}

.contact form{
    width: 120px;
    height: 100px;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
    color: #e24f4f;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    color:rgb(59, 115, 219);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--second--bg-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size:2.4rem;
    color: var(--second--bg-color);
}

